/* line 1, ../compass/sass/styles.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

/* line 10, ../compass/sass/styles.scss */
ul,
li {
  list-style-position: inside;
}

/* line 15, ../compass/sass/styles.scss */
h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

/* line 21, ../compass/sass/styles.scss */
button {
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .4s ease;
}

/* line 29, ../compass/sass/styles.scss */
button:hover {
  border: none;
  color: white;
  padding: 10px;
}

/* line 35, ../compass/sass/styles.scss */
button:disabled {
  cursor: wait !important;
  background: #999 !important;
}

/* line 40, ../compass/sass/styles.scss */
button#send-location:disabled {
  background: #999 !important;
}

/* line 44, ../compass/sass/styles.scss */
#info-window {
  height: 30vh;
  overflow-y: scroll;
  border: 3px ridge #999;
}
/* line 48, ../compass/sass/styles.scss */
#info-window h4 {
  position: fixed;
  border-bottom: 1px solid #999;
  background: rgba(232, 210, 155, 0.9);
}

/* line 55, ../compass/sass/styles.scss */
.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

/* line 63, ../compass/sass/styles.scss */
.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

/* line 72, ../compass/sass/styles.scss */
.form-field {
  margin: 20px 0;
}
/* line 74, ../compass/sass/styles.scss */
.form-field > * {
  width: 100%;
}
/* line 77, ../compass/sass/styles.scss */
.form-field label {
  display: block;
  margin-bottom: 7px;
}
/* line 81, ../compass/sass/styles.scss */
.form-field input,
.form-field select {
  padding: 10px;
}

/* line 87, ../compass/sass/styles.scss */
.chat {
  display: flex;
}

/* line 91, ../compass/sass/styles.scss */
.sidebar {
  overflow-y: scroll;
  height: 100vh;
}
/* line 94, ../compass/sass/styles.scss */
.sidebar h3 {
  margin: 10px 20px;
  text-align: left;
}
/* line 98, ../compass/sass/styles.scss */
.sidebar ul {
  list-style-type: none;
}
/* line 101, ../compass/sass/styles.scss */
.sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/* line 110, ../compass/sass/styles.scss */
.chat-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* line 117, ../compass/sass/styles.scss */
.chat-messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 123, ../compass/sass/styles.scss */
.chat-footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  flex-shrink: 0;
}
/* line 128, ../compass/sass/styles.scss */
.chat-footer form {
  flex-grow: 1;
  display: flex;
}
/* line 131, ../compass/sass/styles.scss */
.chat-footer form * {
  margin-right: 5px;
}
/* line 135, ../compass/sass/styles.scss */
.chat-footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

/* line 142, ../compass/sass/styles.scss */
.chat-messages {
  list-style-type: none;
  padding: 10px;
}

/* line 147, ../compass/sass/styles.scss */
.message {
  padding: 10px;
}

/* line 151, ../compass/sass/styles.scss */
.message-title {
  display: flex;
  margin-bottom: 5px;
}
/* line 154, ../compass/sass/styles.scss */
.message-title h4 {
  font-weight: 600;
  margin-right: 10px;
}
/* line 158, ../compass/sass/styles.scss */
.message-title span {
  color: #999;
}

/* line 162, ../compass/sass/styles.scss */
.noInfo {
  height: 100vh !important;
}

/* line 165, ../compass/sass/styles.scss */
.hideDiv {
  display: none !important;
}

/* line 169, ../compass/sass/styles.scss */
#map {
  height: 70vh;
  border: 3px ridge #999;
  border-bottom: none;
}

/* line 175, ../compass/sass/styles.scss */
#home {
  padding-top: 1rem;
}

/* line 179, ../compass/sass/styles.scss */
hr.style {
  height: 30px;
  border-style: solid;
  border-color: darkgoldenrod;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

/* line 187, ../compass/sass/styles.scss */
hr.style:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: darkgoldenrod;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

@media (max-width: 600px) {
  /* line 199, ../compass/sass/styles.scss */
  * {
    font-size: 1rem;
  }

  /* line 202, ../compass/sass/styles.scss */
  .chat-footer {
    flex-direction: column;
  }

  /* line 205, ../compass/sass/styles.scss */
  .chat-footer form {
    margin-bottom: 10px;
  }

  /* line 208, ../compass/sass/styles.scss */
  .chat-footer button {
    margin-right: 0px;
  }

  /* line 211, ../compass/sass/styles.scss */
  #map {
    width: 100%;
  }
}
/* line 216, ../compass/sass/styles.scss */
html,
body,
.view {
  height: 100%;
}

/* Navigation*/
/* line 225, ../compass/sass/styles.scss */
.scrolling-navbar {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* line 229, ../compass/sass/styles.scss */
.top-nav-collapse {
  background-color: #1C2331;
}

/*Call to action*/
/* line 236, ../compass/sass/styles.scss */
.flex-center {
  color: #fff;
}

/* line 240, ../compass/sass/styles.scss */
.view {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* line 245, ../compass/sass/styles.scss */
.navbar.fa {
  color: darkgoldenrod;
}

/* line 249, ../compass/sass/styles.scss */
.navbar {
  border: none !important;
  box-shadow: none !important;
}

/* line 254, ../compass/sass/styles.scss */
.nav-link {
  color: darkgoldenrod !important;
}

/* line 258, ../compass/sass/styles.scss */
.navbar-brand {
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
}

/* line 267, ../compass/sass/styles.scss */
.navbar-brand > img {
  display: inline;
}

/* line 271, ../compass/sass/styles.scss */
.join {
  background: rgba(255, 255, 255, 0.3);
}

/* line 275, ../compass/sass/styles.scss */
.modal-content {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.7);
}

/* line 280, ../compass/sass/styles.scss */
.modal-header {
  border: none;
}

@media (max-width: 768px) {
  /* line 285, ../compass/sass/styles.scss */
  .navbar {
    background-color: #1C2331;
  }

  /* line 288, ../compass/sass/styles.scss */
  .navbar-brand {
    display: none;
  }
}
